@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@400;500;600&display=swap');



body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Murecho', sans-serif;
  background: var(--bg-color);
  color: var(--fonts-color);
}
.grid{
  display: grid;
  grid-template-columns: repeat(8,1fr);
}

:root{
  --bg-color:linear-gradient(180deg,#1d1d3f,#050508); 
  --container-color:#0a0a15;
  --fonts-color:#DDDEDE;
  --buttons-color:#1d1d3f ;

}